@model CV.Models.Entity.Sertifikalarim
@{
    ViewBag.Title = "YeniSertifika";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Sertifika Ekleme Sayfası</h2>
<br />
<form method="post">

    @Html.Label("Sertifika Açıklaması")
    @Html.TextBoxFor(X => X.Aciklama, new { @class = "form-control" })
    <br />
    @Html.Label("Sertifikanın Alınış Tarihi")
    @Html.TextBoxFor(X => X.Tarih, new { @class = "form-control" })
    <br />
    <button class="btn btn-primary">Kaydet</button>
</form> 